body {
    background-color: #6200EA;
    color: #000;
    overflow-x: hidden;
}

.card {
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.like {
    color: #757575;
    font-weight: bold;
    background-color: #EEEEEE;
    padding: 7px;
    border-radius: 50%;
}

.like-checked {
    color: #E53935;
}

.like:hover {
    color: #E53935;
    cursor: pointer;
}

.pic1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.product-pic {
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

.card-1 {
    padding: 30px 30px 20px 30px !important;
    border: none;
    width: 375px;
}

.category {
    padding-top: 25px;
    color: grey;
}

.product-name {
    padding-bottom: 15px;
    font-family: Florence;
    font-weight: bold;
}

.price {
    font-size: 18px;
}

.sm-text {
    font-size: 14px;
}

.fa-star {
    color: #FF6F00;
    cursor: pointer;
}

.fa-star-o {
    color: #FF6F00;
    cursor: pointer;
}